{% extends 'flatpages/default.html' %}

{% block title %}
    Subscriptions
{% endblock title %}

{% block content %}
    {% for category in categories %}
        <p>
            {{ category.name }}
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="category_id" value="{{ category.id }}">
                {% if user in category.get_sub %}
                    <button disabled>Подписаться</button>
                    <button name="action" value="Unsubscribe">Отписаться</button>
                {% else %}
                    <button name="action" value="Subscribe">Подписаться</button>
                    <button disabled>Отписаться</button>
                {% endif %}
            </form>
        </p>
    {% endfor %}
{% endblock content %}