*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  margin-left: 150px;
  margin-right: 150px;
  color: #2C2C2C;
}

.header{
  display: flex;
  flex-direction: column;
  padding: 35px 15px;
  justify-content:space-between;
}

.menu{
  padding: 5px;
  padding-left: 0;
  display: flex;
  list-style: none;
  align-items: center;

}

.menu li{
  padding: 0px 10px;
  padding-left: 0;
}

.btn {
  font-size: 16px;
  min-width: 140px;
  display: inline-block;
  border-radius: 12px;
  border: none;
  padding: 5px 30px;
  color: #2C2C2C;
  cursor: pointer;
}

.btn:hover {
  color: #2C2C2C;
  transition: 0.3s;
  background-color: #d9d9d9;
}

button {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  display: inline-block;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  background-color: #FFFFFF;
}

.btn.active {
  color: #FFFFFF;
  background-color: #2C2C2C;
  transition: 0s;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  border: none;
  display: none;
  position: absolute;

}
.dropdown-content a {
  text-decoration: none;
  padding: 10px 15px;
  display: flex;
  border-radius: 12px;
  border: none;
}
.dropdown-content a:hover {background-color: #d9d9d9;}
.dropdown:hover .dropdown-content {display: block;}

.wrapper{
  display: flex;
  margin-top: 20px;
  align-items: flex-start;

}

.top-line{
  background-color: #d9d9d9;
  margin: 5px;
  border-radius: 12px;
  border: none;
  padding: 15px 20px;
  display: block;
  }

.category{
  width: 12%;
}

.centre{
  width: 66%;
}

.comments-list{
  width: 12%;
}

.aCont{
  color: #2C2C2C;
  text-decoration: none;
}

:is(.aCont, .aCont.activea):hover {
  font-weight: bold;
  transition: 0.3s;
}

.aCont.activea{
  font-weight: bold;
}

.centre-bottom{
  display: flex;
}

.centre-bottom div{
  width: 23%;
}

.first-post a{
  text-decoration: none;
  color: #2C2C2C;
}

.first-post{
  width: 60%;
}

.who{
  display: flex;
  vertical-align: middle;
}

.more{
  display: flex;
}

.more{
  justify-content: space-between;
}

:is(.who p, .who a, .more a, .more p){
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14px;
}

.who a{
  width: auto;

}

.who-bottom{
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.comments-list div{
  margin-top: 18px;
  font-size: 14px;
}
