*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  margin-left: 100px;
  margin-right: 100px;
  color: #2C2C2C;
}


.header{
  display: flex;
  flex-direction: column;
  padding: 35px 15px;
  justify-content:space-between;
}

.menu{
  padding: 5px;
  padding-left: 0;
  display: flex;
  list-style: none;
  align-items: center;

}

.menu li{
  padding: 0px 10px;
  padding-left: 0;
}

.btn {
  font-size: 16px;
  min-width: 140px;
  display: inline-block;
  border-radius: 12px;
  border: none;
  padding: 5px 30px;
  color: #2C2C2C;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  color: #2C2C2C;
  transition: 0.3s;
  background-color: #d9d9d9;
}

button {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  display: inline-block;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  background-color: #FFFFFF;
}

.btn.active {
  color: #FFFFFF;
  background-color: #2C2C2C;
  transition: 0s;
}

.hiddenDecoration.active {
  color: #2C2C2C;
  font-weight: bold;
  background-color: #d9d9d9;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  border: none;
  display: none;
  position: absolute;

}
.dropdown-content a {
  text-decoration: none;
  padding: 10px 15px;
  display: flex;
  border-radius: 12px;
  border: none;
}

.dropdown-content a:hover {background-color: #d9d9d9;}
.dropdown:hover .dropdown-content {display: block;}

.wrapper{
  display: flex;
  margin-top: 20px;
  align-items: flex-start;

}

.top-line{
  background-color: #d9d9d9;
  margin: 5px;
  border-radius: 12px;
  border: none;
  padding: 12px 17px;
  display: flex;
  flex-direction: column;
  }

.categories{
  width: 13%;
  padding-left: 25px;
  padding-bottom: 20px;
}

.category{
  padding-top: 5px;
}

.centre{
  width: 68%;
}

.comments-list{
  width: 13%;
}

@media screen and (max-width:1200px) {
  .comments-list {
      display: none;
  }
  .category{
    width: 18%;
  }
  .centre{
    width: 75%;
  }

}

.aCont{
  color: #2C2C2C;
  text-decoration: none;
}

:is(.aCont, .aCont.activea):hover {
  font-weight: bold;
  transition: 0.3s;
}

.aCont.activea{
  font-weight: bold;
}

.first-post a{
  text-decoration: none;
  color: #2C2C2C;
}

.first-post{
  width: 60%;
}

.who{
  display: flex;
  align-items: baseline;
}

.more{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.not-found{
  display: flex;
  min-height: 400px;
  justify-content: center;
}

:is(.who p, .who a, .more a, .more p){
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  padding-left: 0px;
}

.who a{
  width: auto;
  color: #2C2C2C;
  text-decoration: none;

}

.centre-bottom{
  display: flex;
  flex-wrap: wrap;
}

.centre-bottom div{
  flex: 1;
}

.who-bottom{
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: auto;
  padding-top: 10px;
}

.text-bottom{
  margin-top: 10px;
  font-size: 14px;
}

#b10{
  align-items: end;
  font-size: 12px;
}

.hiddenDecoration {
  text-decoration: none;
  font-size: 12px;
  padding-left: 0px;
  padding-bottom: 0px;
  color: #2C2C2C;
}

.hiddenDecoration:hover {
  font-weight: bold;
}

.title-bottom {
  height: 40px;
  overflow: hidden;
}

.title-bottom p{
  font-weight: bold;
  font-size: 12px;
}

.centre-bottom-more{
  padding-top: 10px;
  display: grid;
  align-items: end;
  min-height: 5%;
}

.wrapper-bottom-header{
  display: block;
  justify-content: space-between;
}

.wrapper-bottom-header div{
  display: flex;
}

.comments-list div{
  margin-top: 18px;
  font-size: 14px;
}

.pagination {
  display: flex;
  justify-content: space-around;
}

.pagination-content{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pagination-content a{
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
  color: #2C2C2C;
  cursor: pointer;
}

.pagination-content a:hover{
  font-weight: bold;
}

.current-page-number{
  font-size: large;
  padding: 3px;
  font-weight: bold;
}